@import url(/css/reset.css);
@import url(/css/text.css);
@import url(/css/960.css);
@import url(/css/hashgrid.css);
@import url(/css/jquery.lightbox-0.5.css);
@import url(http://fonts.googleapis.com/css?family=Nobile);

html,
body {
	font-size: 16px;
	line-height:20px;
	color: #400020;
	background-color: #402020;
	font-family: 'Nobile', arial, serif;
	padding: 0px; 
	margin: 0px; 
	width: 100%;
	height: 100%;
}

h1 ,h2 {
        color: #202020;
	text-transform: capitalize;
}

h1 {
	font-size: 32px;
	line-height: 40px;
}

h2 {	
	font-size: 24px;
	line-height: 40px;
}

blockquote {
	padding-left: 40px;
}

a {
	color: #400020;
	transition: #400020;
	transition-duration: 4000ms;
	-webkit-transition: color; 
	-webkit-transition-duration: 4000ms;
	-moz-transition: color; 
	-moz-transition-duration: 4000ms;
	-o-transition: color; 
	-o-transition-duration: 4000ms;
}

a:hover {
	color: #202020;
	transition: color;
	transition-duration: 400ms;
	-webkit-transition: color;
	-webkit-transition-duration: 400ms;
	-moz-transition: color;
	-moz-transition-duration: 400ms;
	-o-transition: color;
	-o-transition-duration: 400ms;
}

.hide {
	visibility: hidden;
}

#top {
	background-color: #a0a080;
	border:0;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	height: 60px;
}

#twitter,
#googleplus,
#flagit,
#flagde {
	margin-top: 20px;
}

#flagit a,
#flagde a {
	display: block;
	height: 18px;
	width: 58px;
	border: 1px solid black;
	border-radius: 10px;
}

#flagit a {
	background:url(/images/it.png) no-repeat center;
}

#flagde a {
	background:url(/images/de.png) no-repeat center;
}

article {
	background:url(/images/cornice.png) no-repeat 730px 0px; 
	background-color: #a0a080;
	border: 1px solid #000000;
	border-top: 0;
}

section#main {
	display:none;
}

section a:hover {
	color: #9ac2f6;
	-webkit-transition: all .5s ease-in-out;
}

.boximg {
	width: 458px;
	height: 298px;
	border: 1px solid #000000;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px;
	margin-bottom:20px;
}

.boximg img {
	width: 458px;
	height: 298px;
	border-radius: 10px;
}

#gallery a {
	padding: 0;
	margin:0;
}

#gallery ul { 
	list-style: none;
	padding: 0;
	margin:0;
}

#gallery ul li {
	display: inline;
	padding: 0;
	margin:0;
	margin-right: 16px;
}

#gallery ul li:nth-child(6),
#gallery ul li:nth-child(12),
#gallery ul li:nth-child(18),
#gallery ul li:nth-child(24),
#gallery ul li:nth-child(30),
#gallery ul li:nth-child(36),
#gallery ul li:nth-child(42) {
	margin-right: 0;
}

#gallery ul img {
	width: 58px;
	height: 58px;
	margin-bottom: 20px;
	border: 1px solid black;
	border-radius:10px;
}

nav {
	margin-top: 80px;
}

#logo {
	width: 138px;
	height: 138px;
	border: 1px solid #000000;
	background-color: #402020;
	color: #e0e0e0;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px;
	text-align: center;
	margin:0;
	padding:0;
}

#logo:hover {
	text-decoration:underline;
}

#logo h1 {
	color: #e0e0e0;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 20px;
	text-decoration:none;
}

#logo img {
	padding: 12px 0 12px 0;
	margin:0;
}

#logo a h1 {
	text-decoration:none;
}

menu {
	height: 140px;
	font-size: 16px;
	line-height: 28px;
	text-transform: capitalize;
}

menu a {
	text-decoration: none;
}

menu a:hover {
	padding-left: 8px;
	text-decoration:underline;
	-webkit-transition: all .5s ease-in-out;
}

menu a.current {
        color: #202020;
	text-decoration:underline;
}

menu a.current:hover {
	text-decoration:underline;
	padding-left: 0;
}

menu ul {
	list-style:none;
	height: 100%;
}

menu ul li {
	margin: 0;
	padding:0;
	}

footer {
	color: #330033;
	margin: 0 0 20px 0;
	text-align:center;
	font-size: 12px;
}

footer a {
	color: #330033;
}

h2.lowercase {
	text-transform: lowercase;
}
