@import url(/css/reset.css);
@import url(/css/text.css);
@import url(/css/960.css);
@import url(/css/hashgrid.css);
@import url(http://fonts.googleapis.com/css?family=Nobile);
@import url(/css/prettyPhoto.css);
@import url(/css/jquery.jtweetsanywhere-1.2.1.css);

html,
body {
	font-size: 16px;
	line-height:20px;
	color: #400020;
	background-color: #402020;
	font-family: 'Nobile', arial, serif;
	padding: 0px; 
	margin: 0px; 
	width: 100%;
	height: 100%;
}

h1 ,h2 {
        color: #202020;
	text-transform: capitalize;
}

h1 {
	font-size: 32px;
	line-height: 40px;
}

h2 {	
	font-size: 24px;
	line-height: 40px;
}

blockquote {
	padding-left: 40px;
}

a {
	color: #400020;
	transition: #400020;
	transition-duration: 4000ms;
	-webkit-transition: color; 
	-webkit-transition-duration: 4000ms;
	-moz-transition: color; 
	-moz-transition-duration: 4000ms;
	-o-transition: color; 
	-o-transition-duration: 4000ms;
}

a:hover {
	color: #202020;
	transition: color;
	transition-duration: 400ms;
	-webkit-transition: color;
	-webkit-transition-duration: 400ms;
	-moz-transition: color;
	-moz-transition-duration: 400ms;
	-o-transition: color;
	-o-transition-duration: 400ms;
}

#top {
	background-color: #a0a080;
	border:0;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	height: 40px;
}

#googleplus {
	margin-top: 8px;
}

#twitter {
	margin-top: 8px;
}

.flagit {
	width: 30px;
	height: 20px;
	margin-top: 8px;
	margin-left: 30px;
	background:url(/images/it.png) no-repeat center;
}

.flagde {
	width: 30px;
	height: 20px;
	margin-top: 8px;
	background:url(/images/de.png) no-repeat center;
}

#container {
	background:url(/images/cornice.png) no-repeat 730px 0px; 
	background-color: #a0a080;
	border: 1px solid #000000;
	border-top: 0;
}

.image {
	height: 298px;
	-webkit-border-radius: 10px 10px; 
	-moz-border-radius: 10px 10px; 
	margin-bottom:20px;
	border: 1px solid #000000;
}

#benv div[class="image"] {
	background:url(/images/benv.jpg);
}

#allo div[class="image"] {
	background:url(/images/allo.jpg);
}

#gall div[class="image"] {
	background:url(/images/gall.jpg);
}

#cont div[class="image"] {
	background:url(/images/cont.jpg);
}

#info div[class="image"] {
	background:url(/images/info.jpg);
}

.main a {
	color: #202020;
}

.main a:hover {
	color: #202020;
	text-decoration: underline;
}

.main img {
	background-color: #402020;
	height: 58px;
	width: 58px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid black;
	border-radius: 5px;
	padding:0;
}

.main img.last {
	margin-right: 0;
}

#boxrx {
	margin-top: 80px;
}

#logo {
	width: 138px;
	height: 138px;
	border: 1px solid #000000;
	background-color: #402020;
	color: #e0e0e0;
	-webkit-border-radius: 10px 10px; 
	-moz-border-radius: 10px 10px; 
	text-align: center;
	margin:0;
	padding:0;
}

#logo h1 {
	color: #e0e0e0;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 20px;
}

#logo img {
	padding: 12px 0 12px 0;
	margin:0;
}

#logo a {
	text-decoration:none;
}

#logo p {
	margin:0;
	padding:0;
}

#menu {
	height: 140px;
	font-size: 16px;
	line-height: 28px;
	text-transform: capitalize;
}

#menu a {
	text-decoration: none;
}

#menu a:hover {
	padding-left: 4px;
	-webkit-transition: all .5s ease-in-out;
}

ul.tabs {
	list-style:none;
	height: 100%;
}

ul.tabs li {
	margin: 0;
	padding:0;
	}

#footer {
	color: #330033;
	margin-bottom: 20px;
	text-align:center;
	font-size: 12px;
}

#footer a {
	color: #330033;
}

h2.lowercase {
	text-transform: lowercase;
}

.twtr-widget {
	margin-bottom: 20px;
}

.twtr-ft img {
	height: 16px;
}
