@font-face {
  	font-family: 'josefine';
   	font-style: normal;
   	font-weight: normal;
    src: local('josefine'), url('/fonts/JosefineSans-Light.ttf') format('truetype');
}

@font-face {
  	font-family: 'nobile';
   	font-style: normal;
   	font-weight: normal;
    src: local('nobile'), url('/fonts/Nobile.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: grey;
}

#top {
    background-color: white;
    padding: 10px 0 10px 0;
}

menu {
    position: absolute;
    top: 280px;
    color: red;
    z-index: 112;
}

h1 {
    line-height: 40px;
    font-size: 36px;
    color: orange;
    margin: 60px 0 0 0;
    padding: 0px;
    font-family: 'josefine';
}

h1 a {
    color: orange;
    text-decoration: none;
}

h2 {
    line-height: 20px;
    font-family: 'josefine';
    font-size: 18px;
    color: white;
    margin: 0px;
    padding: 0px;
}
