@import "compass/css3";

@mixin roundcorner {
	border: 1px solid black;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px;
}

$backall: #402020; // rosso bordou
$background: #a0a080; // seppia
$logotext: #202020; // white

html,
body {
	font-size: 16px;
	line-height:20px;
	color: #400020;
	background-color: $backall;
	font-family: 'Nobile', arial, serif;
	padding: 0px; 
	margin: 0px; 
	width: 100%;
	height: 100%;
	min-height: 100%;
}

p {
	margin-bottom: 20px;
}

.container_12 {
	background-color: $background;
	border:0;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}

.top {
	padding:  20px 0 20px 0;
}

.googleplus, 
.twitter {
 	height: 20px; 
}

.top img {
	height:18px;
  	width:58px;
	@include roundcorner;
	display:block;
}

header { 
	background: url(/images/ricciolo.png) right center no-repeat;
	margin-bottom: 20px;
	img {
		&.bigger {
			height:338px; 
		  	width:458px;
			@include roundcorner;
			display:block;
		}
		&.thin {
			padding-top: 3px;
			text-align: center;
		}
	}
	.logo {
		margin-top: 100px;            
		height: 138px;  
		text-align: center;
		background-color: $backall; 
		@include roundcorner;   
		color: $logotext;
		h1 {
			padding-top: 3px;
		}
		a {	
			text-decoration: none;
			&:visited {
				color: white;
			}
			&:hover {
				color: white;
			}
		}
	}
}



nav {
	text-transform: capitalize;
	margin-top: 100px;
	line-height: 28px;
	a {	
		color: $backall;
		text-decoration: none;
		&:hover {
			padding-left: 8px;
			text-decoration:underline;
			-webkit-transition: all .5s ease-in-out;
		}
	}
	.current {
	        color: #202020;
		text-decoration:underline;
	}
	.current:hover {
		text-decoration:underline;
		padding-left: 0;
	}
}

section {
	h2 {	
		font-size: 36px;
		line-height: 40px;
		text-transform: uppercase;
	        color: #202020;
		margin-bottom: 20px;
	}
	h3 {	
		font-size: 24px;
		line-height: 40px;
		text-transform: uppercase;
	        color: #202020;
		margin-bottom: 20px;
	}
	a {
		text-decoration: none;
		color: #202020;
		transition: #400020;
		transition-duration: 4000ms;
		-webkit-transition: color; 
		-webkit-transition-duration: 4000ms;
		-moz-transition: color; 
		-moz-transition-duration: 4000ms;
		-o-transition: color; 
		-o-transition-duration: 4000ms;
		&:hover {
			color: #400020;
			text-decoration: underline;
			transition: color;
			transition-duration: 400ms;
			-webkit-transition: color;
			-webkit-transition-duration: 400ms;
			-moz-transition: color;
			-moz-transition-duration: 400ms;
			-o-transition: color;
			-o-transition-duration: 400ms;
		}
		&:visited {
			color: #400020;
		}
	}
	ul {
		margin-bottom: 20px;
	}
}

footer {
	text-align: center;
	font-size: 12px;
	a {
		text-decoration: none;
		color: #400020;
		&:hover {
			color: #400020;
		}
		&:visited {
			color: #400020;
		}
	}
}
