@import "compass/css3";

@mixin roundcorner {
	border: 1px solid black;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px;
}

$backall: #000; // nero
$background: #fff; // bianco
$orange: #FF5C00;

html,
body {
	font-size: 16px;
	line-height:20px;
	color: #000;
	background-color: $backall;
	font-family: 'Nobile', arial, serif;
	padding: 0px; 
	margin: 0px; 
	width: 100%;
	height: 100%;
	min-height: 100%;
}

.container_12 {
	background-color: $background;
	border:0;
}

.top {
	padding-top:10px;
	margin-top:10px;
}

.bottom {
	padding-bottom: 10px;
	margin-bottom: 10px;
}

header {
	background: rgba(0,0,0,0.7) ;
	z-index:111;
	position:absolute;
	top: 300px;
	padding: 20px 0 0 0;
	.logo {
		h2,p {
			font-family: 'Josefin Sans';
		}
		h2 {
			color: $orange;
			margin-bottom:0px;
			padding-top: 0px;
			padding-bottom:0px;
			font-size:36px;
			font-style:normal;
			font-weight:700;
			text-shadow:2px 2px 2px #000;
			line-height:40px;
		}
		p {
			text-transform:uppercase;
			font-weight:700;
			color: white;
		}

	}
	.lang {
		line-height: 25px;
	}
	ul {
		list-style: none;
		padding:0;
		margin:0;
		li {
			line-height: 25px;
			padding:0;
			margin:0;
		}
	}
	a {
		color:white;
		text-decoration: none;
		text-transform: uppercase;
		&.visited {
			color: white;
		}
		&.current {
			text-decoration: underline;
		}
	}
}

article {
	h2 {	
		margin-top: 20px;
		font-size: 36px;
		line-height: 40px;
	        color: $orange;
		font-family: 'Josefin Sans';
		text-shadow:1px 1px 1px #000;
	}
	
	h3 {	
		margin-top: 20px;
		font-size: 24px;
		line-height: 40px;
	        color: $orange;
		font-family: 'Josefin Sans';
		text-shadow:1px 1px 1px #000;
	}
	
	a {
		color: #000;
		transition: $orange;
		transition-duration: 4000ms;
		-webkit-transition: color; 
		-webkit-transition-duration: 4000ms;
		-moz-transition: color; 
		-moz-transition-duration: 4000ms;
		-o-transition: color; 
		-o-transition-duration: 4000ms;
		&:hover {
			color: $orange;
			text-decoration: underline;
			transition: color;
			transition-duration: 400ms;
			-webkit-transition: color;
			-webkit-transition-duration: 400ms;
			-moz-transition: color;
			-moz-transition-duration: 400ms;
			-o-transition: color;
			-o-transition-duration: 400ms;
		}
		&:visited {
			color: #000;
		}
	}
	ul {
		margin-top: 20px;
		list-style-type:square;
		li {
			margin-right: 16px;	
			ul {
				margin-top: 0;
				list-style-type:square;
			}
		}
	}
	p {
		margin-top: 20px;
	}
}

section {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}

footer {
	margin-top: 20px;
	text-align: center;
	font-size: 12px;
	a {
		text-decoration: none;
		color: #000;
		&:hover {
			color: $orange;
		}
		&:visited {
			color: #000;
		}
	}
}
