---
layout: default
path: '/images/index'
slider:
   - name: '00.jpg'
     title: 
       it: 'vista da casa vacanze a San Miniato'
       en: 'panoramic view from a villa in San Miniato'
     alt:
       it: 'panorama San Miniato'
       en: 'landscape of san miniato'
   - name: '01.jpg'
     title: 
       it: 'vista da casa vacanze a San Miniato'
       en: 'panoramic view from a villa in San Miniato'
     alt:
       it: 'panorama San Miniato'
       en: 'landscape of san miniato'
   - name: '02.jpg'
     title: 
       it: 'piscina in giardino agriturismo in Toscana'
       en: 'garden with a swimming pool in a farmhouse in Tuscany'
     alt:
       it: 'piscina'
       en: 'swimming pool'
   - name: '03.jpg'
     title: 
       it: 'interni villa Ostignano'
       en: 'Inside area of Villa Ostignano'
     alt:
       it: 'bagno agriturismo'
       en: 'bathroom'
   - name: '04.jpg'
     title: 
       it: 'camere villa Ostignano'
       en: 'Rooms of Villa Ostignano'
     alt:
       it: 'camera romantic'
       en: 'romantic room'
   - name: '05.jpg'
     title: 
       it: 'esterno villa a Bucciano'
       en: 'Outside area of a Villa in Bucciano'
     alt:
       it: 'Villa a San Miniato'
       en: 'villa in san miniato'
   - name: '06.jpg'
     title: 
       it: 'giardino casa vacanze Bucciano'
       en: 'garden of an accomodation in Bucciano'
     alt:
       it: 'parco villa'
       en: 'park'
   - name: '07.jpg'
     title: 
       it: 'esterni agriturismo San Miniato'
       en: 'outside area of a Farmhouse in San Miniato'
     alt:
       it: 'piazzetta residence'
       en: 'small square'
   - name: '08.jpg'
     title: 
       it: 'Chiesetta consacrata San Miniato'
       en: 'Small church in San Miniato'
     alt:
       it: 'Chiesa privata'
       en: 'private church'
   - name: '09.jpg'
     title: 
       it: 'cappella privata nel parco'
       en: 'Small chapel in a park'
     alt:
       it: 'Cappella privata'
       en: 'private chapel'
   - name: '10.jpg'
     title: 
       it: 'camere Hotel San Miniato'
       en: 'Rooms of Hotel San Miniato'
     alt:
       it: 'suite deluxe'
       en: 'suite deluxe'
   - name: '11.jpg'
     title: 
       it: 'camere Hotel San Miniato'
       en: 'Rooms of Hotel San Miniato'
     alt:
       it: 'suite deluxe'
       en: 'suite deluxe'
   - name: '12.jpg'
     title: 
       it: 'camere Hotel San Miniato'
       en: 'Rooms of Hotel San Miniato'
     alt:
       it: 'suite deluxe'
       en: 'suite deluxe'
---

{{ content }}
