---
layout: default
path: '/images/info'
slider:
   - name: '01.jpg'
     title: 
       it: 'vista da casa vacanze a San Miniato'
       de: 'panoramic view from a villa in San Miniato'
     alt:
       it: 'panorama San Miniato'
       de: 'landscape of san miniato'
   - name: '02.jpg'
     title: 
       it: 'vista da casa vacanze a San Miniato'
       de: 'panoramic view from a villa in San Miniato'
     alt:
       it: 'panorama San Miniato'
       de: 'landscape of san miniato'
   - name: '03.jpg'
     title: 
       it: 'piscina in giardino agriturismo in Toscana'
       de: 'garden with a swimming pool in a farmhouse in Tuscany'
     alt:
       it: 'piscina'
       de: 'swimming pool'
---

{{ content }}
